<div class="flex flex-col py-8 px-4 gap-6">
  <!-- Welcome Section -->
  <h1 class="mt-6 text-center text-6xl font-bold text-gray-900">
    EJS Boilerplate
  </h1>
  <p class="mt-2 text-center text-xl text-gray-600">
    A simple boilerplate for EJS templating engine.
  </p>
  <a class="m-auto w-30 text-center bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md text-sm font-medium transition-colors duration-200"
    href="/page">Page
  </a>
</div>