<footer class="bg-neutral-50 border-t border-zinc-200 py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col md:flex-row justify-between items-center gap-2">
        <div>
          <p class="text-gray-600 text-sm">&copy; 2025 ldutvikling</p>
        </div>
        <div>
          <p class="text-gray-600 text-sm">ldutvikling - Helpdesk</p>
        </div>
      </div>
</footer>